{% extends 'base.html.twig' %}
{% block title %}produit{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center" >Boutique !</h1>
        <div class="row">
            {% for product in product %}
                    <div class="card p-2 m-1" style="width: 20rem;">
                        <img src="{{ asset('img/produit/'~product.photo) }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }} de chez {{ product.brand }}</h5>
                            <p class="card-text"> description : {{ product.description|slice(0,50)~'...'  }}</p>
                            <p class="card-text"> prix : {{ product.price }} €</p>
                            <a href="{{ path('shop_product.detail', {'slug': product.slug}) }}"
                               class="btn bg-bleumarine text-gold">détails</a>
                        </div>
                    </div>
        {% endfor %}
            <div class="my-3 text-center">
                <div class="d-inline-block text-gold">
                    {{ knp_pagination_render(product) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


