{% extends 'base.html.twig' %}
{% block title %}produit{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center">Produits</h1>
        <div class="row my-4">
            <div class= "col-4 offset-4 text-center">
                <a href="{{ path('shop_product') }}">
                    <button class="btn bg-bleumarine text-gold fw-bold w-50" type="button"><i
                                class="fas fa-arrow-rotate-back"></i>
                        Retour a tous les produits
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            {% for product in product %}
                <div class="card p-2 m-1" style="width: 20rem;">
                    <img src="{{ asset('img/produit/'~product.photo) }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }} de chez {{ product.brand }}</h5>
                        <p class="card-text"> description : {{ product.description }}</p>
                        <p class="card-text"> prix : {{ product.price }} €</p>
                        <a href="{{ path('shop_product.detail', {'slug': product.slug}) }}"
                           class="btn bg-bleumarine text-gold productDetail">détails</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

