{% extends 'base.html.twig' %}
{% block title %}
Stock
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row col-8 offset-2 mt-4 text-center">

            <table class="table">
                <thead>
                <tr class="fw-bolder">
                    <th scope="col">REF</th>
                    <th scope="col">NOM</th>
                    <th scope="col">PRIX</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for product in products %}

                    <tr class="col-lg-2">
                        <td>{{ product.reference }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td><a  class="text-decoration-none me-2 text-warning" href="{{ path('shop_product_modif', {'slug': product.slug}) }}"><i class="fa fa-edit me-2"></i>modifier</a>
                            <a onclick="return confirm('Êtes vous sur de vouloir supprimer ce produit ?')"
                               class=" text-decoration-none text-danger"
                               href="{{ path('shop_produit.delete', {'id': product.id, 'csrf_token' : csrf_token('product_delete_'~product.id)}) }}"><i class="fa fa-trash me-2"></i>supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}


