{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}
        
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-bleumarine">
    <div class="container-fluid">
        <a class="navbar-brand  p-0" href="{{ path('main') }}"><img class="m-0 p-0" src="{{ asset('img/LOGO CS.png') }}" alt="" width="75px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-gold {{ route == 'main' ? ' active' }}" aria-current="page" href="{{ path('main') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-gold {{ route == 'shop_product' ? ' active' }}" href={{ path('shop_product') }}>boutique</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link text-gold {{ route == 'news' ? ' active' }}" href={{ path('news') }}>news</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-gold" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu bg-bleumarine" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-gold bg-bleumarine" href="{{ path('shop_product.add') }}">ajouter un produit</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-gold bg-bleumarine" href="{{ path('shop_reservation') }}">reservation</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-gold bg-bleumarine" href="{{ path('create_News') }}">ajouter une news</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>


            <ul class="navbar-nav ms-auto mb-2 mb-lg-0  bg-bleumarine">
                <li class="nav-item"><a class="nav-link text-gold bg-bleumarine" href="{{ path('shop_panier') }}">panier</a></li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-gold bg-bleumarine" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.user.name }}
                    </a>
                    <ul class="dropdown-menu bg-bleumarine" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item text-gold bg-bleumarine"><a class="nav-link text-gold bg-bleumarine"
                                                     href="{{ path('shop_reservation_client', {'id': app.user.id}) }}">mes
                                reservations</a></li>
                        <li class="dropdown-item"><a class="nav-link text-gold bg-bleumarine"
                                                     href="{{ path('app_logout') }}">deconnexion</a></li>
                    </ul>
                </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link text-gold bg-bleumarine" href="{{ path('app_login') }}">connexion</a></li>
                        {% endif %}
            </ul>
            <form class="d-flex" action="{{ path('shop_search') }}" method="get">
                <input class="form-control me-2" type="search" name="searcharea" placeholder="Recherche" aria-label="Search">
                <button class="btn bg-bleumarine text-gold"  type="submit">Recherche</button>
            </form>
        </div>
    </div>
</nav>


{% if app.session.flashBag.has('error') %}
    <div class="container">
        <div class="row">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show text-center col-12 my-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if app.session.flashBag.has('success') %}
    <div class="container">
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show text-center col-12 my-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% block body %}





{% endblock %}
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{# Bloc pour ajouter des fichiers JS additionnels #}
{% block js %}{% endblock %}
</body>
</html>
